/* variables */

/* bootstrap grid size */
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1200px;
$ipad: 1024px;

$container-width: 1200px;

/* Default font settings*/
$def-font-size: 14px;
$font-family: 'Roboto', sans-serif;

/*main colors*/
$mainColor: #239B3A;
$buttonColor: #239B3A;
$buttonColorHover: #239B3A;

$text-color: #000000;
$link-color: #000000;
$link-color-hover: #239B3A;
$titles-color: #111111;