/* import styles */
@import "vars";
@import "mixins";
@import "normalize";
@import "base";
@import "./header/all";

$headerHeight: 60px;
$footerHeight: 200px;

.header{
    height: $headerHeight;
}
.footer{
    height: $footerHeight;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
    .header,
    .content,
    .sidebar,
    .right-sidebar,
    .footer{
		max-width: $container-width;
		margin: 0 auto;
    }
}
/*--------------------------------------------------------------
//If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
    @media screen and (min-width: 800px) {
    
        .site-container{
            display: grid;
            min-height: 100%;
            // 12 column layout
            grid-template-columns: repeat(12, 1fr);
            // header and footer height, content-height responsive
            grid-template-rows: $headerHeight auto auto minmax($footerHeight, auto);
            grid-template-areas: 
                "h h h h h h h h h h h h"
                "l l l c c c c c c c c c"
                "r r r r r r r r r r r r"
                "f f f f f f f f f f f f";
        }
        
        .header{
            grid-area: h;
        }
        
        .content{
            grid-area: c;
        }
        
        .sidebar{
            grid-area: l;
        }
        
        .right-sidebar{
            grid-area: r;
        }
        
        .footer{
            grid-area: f;
        }
        
    }
  
    @media screen and (min-width: 1200px) {
        .site-container{
            // 12 колоночный макет
            grid-template-columns: repeat(12, 1fr);
            // высота шапки и футера, котент резиновый
            grid-template-rows: $headerHeight auto minmax($footerHeight, auto);
            grid-template-areas: 
                "h h h h h h h h h h h h"
                "l l c c c c c c c c r r"
                "f f f f f f f f f f f f";
        }
    }
}

/*--------------------------------------------------------------
// CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/



.social{
    @extend %flex-vcenter;
    flex-wrap: wrap;

    & > a{
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-right: getRem(15px);

        &:last-child{
            margin-right: 0;
        }

        &.vk{
            background-image: url('../../images/social/vk.svg');
        }
        &.in{
            background-image: url('../../images/social/in.svg');
        }
        &.yo{
            background-image: url('../../images/social/yo.svg');
        }
        &.tw{
            background-image: url('../../images/social/tw.svg');
        }
        &.fb{
            background-image: url('../../images/social/fb.svg');
        }
    }
}

footer.footer{

    background: #111111;

    .social{
        &>a{
            margin-bottom: 15px;
        }
    }
    .copyright{
        text-align: center;
        @include fontSize(12px);
        @media (max-width: $md) {
            margin: 30px 0;
        }
    }
 
}


.breadcrumb{
    padding: 0;
    margin-bottom: getRem(24px);
    background-color: transparent;

    a{
        color: #808080;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        text-decoration: none;

        &:after{
            content: '/';
            display: inline-block;
            margin-left: 10px;
        }
    }
}