/* import styles */
/* variables */
/* bootstrap grid size */
/* Default font settings*/
/*main colors*/
.header .logo, .header .main-menu ul, .social {
  display: flex;
  align-items: center; }

.header .main-menu ul ul:before {
  content: '';
  display: block; }

a {
  transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  height: 100%;
  font-size: 14px; }
  @media (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media (max-width: 576px) {
    html {
      font-size: 12px; } }

body {
  background: #fff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  max-width: 100vw;
  height: 100%;
  line-height: normal;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

p {
  margin-top: 0;
  line-height: 1.7;
  margin-bottom: 30px; }
  p:last-child {
    margin-bottom: 0; }

a {
  color: #000000;
  text-decoration: none;
  outline: none; }
  a:hover {
    color: #239B3A;
    text-decoration: none;
    outline: none; }
  a:active, a::focus {
    outline: none; }

.page-title {
  font-size: 42px;
  font-size: 3rem;
  margin-bottom: 0; }
  @media (max-width: 768px) {
    .page-title {
      font-size: 30px;
      font-size: 2.14286rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  margin-top: 0; }
  h1 > a,
  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a {
    text-decoration: none; }
    h1 > a:hover,
    h2 > a:hover,
    h3 > a:hover,
    h4 > a:hover,
    h5 > a:hover,
    h6 > a:hover {
      color: #111111; }

h1 {
  font-size: 42px;
  font-size: 3rem; }
  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
      font-size: 2.85714rem; } }

h2 {
  font-size: 42px;
  font-size: 3rem;
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    h2 {
      margin-bottom: 20px; } }

h3 {
  font-size: 32px;
  font-size: 2.28571rem;
  margin-bottom: 30px; }
  @media (max-width: 576px) {
    h3 {
      margin-bottom: 20px; } }

h4 {
  font-size: 24px;
  margin-bottom: 25px; }
  @media (max-width: 576px) {
    h4 {
      margin-bottom: 15px; } }

::selection {
  background: #239B3A;
  /* Safari, Chrome, Opera */
  color: #fff; }

::-moz-selection {
  background: #239B3A;
  /* FireFox */
  color: #fff; }

.container {
  max-width: 1200px; }

img {
  max-width: 100%; }

.up {
  text-transform: uppercase; }

.btn.button,
.btn,
.btn.btn-primary.btn.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-size: 1.14286rem;
  text-decoration: none;
  height: 47px;
  padding: 0 33px;
  border-radius: 3px;
  overflow: hidden;
  border: none;
  outline: none !important;
  box-shadow: none;
  max-width: 100%;
  background: #239B3A;
  position: relative;
  font-family: "Roboto", sans-serif; }
  .btn.button.fw,
  .btn.fw,
  .btn.btn-primary.btn.btn-primary.fw {
    width: 100%; }
  .btn.button.btn-light,
  .btn.btn-light,
  .btn.btn-primary.btn.btn-primary.btn-light {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: none; }
    .btn.button.btn-light:hover,
    .btn.btn-light:hover,
    .btn.btn-primary.btn.btn-primary.btn-light:hover {
      background: #239B3A; }
  .btn.button.btn-min,
  .btn.btn-min,
  .btn.btn-primary.btn.btn-primary.btn-min {
    height: 41px;
    padding: 0 16px;
    font-size: 16px;
    font-size: 1.14286rem; }
  .btn.button.btn-white,
  .btn.btn-white,
  .btn.btn-primary.btn.btn-primary.btn-white {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: none; }
  .btn.button.large,
  .btn.large,
  .btn.btn-primary.btn.btn-primary.large {
    min-width: 230px; }
  .btn.button:hover, .btn.button:active, .btn.button:focus,
  .btn:hover,
  .btn:active,
  .btn:focus,
  .btn.btn-primary.btn.btn-primary:hover,
  .btn.btn-primary.btn.btn-primary:active,
  .btn.btn-primary.btn.btn-primary:focus {
    background: #239B3A;
    color: #fff; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset; }

input:not([type]),
input[type="text"],
input[type="phone"],
input[type="email"],
input[type="password"],
textarea,
.form-control {
  background: #fff;
  border: 1px solid #DFDFDF;
  padding: 0.71429rem 1.71429rem;
  color: #000;
  height: 50px;
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: none;
  outline: none; }

input:focus,
input:active,
textarea:focus,
textarea:active,
.form-control:active,
.form-control:focus {
  box-shadow: none;
  background: #fff;
  border-color: #239B3A; }

textarea {
  height: 85px;
  resize: vertical;
  box-shadow: none;
  border-radius: 10px !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; }

.form-control:-ms-input-placeholder,
.form-control:-moz-placeholder,
.form-control::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
  color: #909090;
  font-family: "Roboto", sans-serif; }

label {
  color: #111;
  font-size: 1rem;
  font-weight: 400; }

/*checkboxes (input + label)*/
.checkbox {
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin: 0; }

.checkbox + label {
  cursor: pointer;
  display: inline-block; }

.checkbox:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
  font-weight: 400; }

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #D8D8D8;
  transition: .2s;
  border-radius: 3px; }

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 7px;
  background: url("../../images/check.svg") no-repeat 50% 50%;
  opacity: 0;
  transition: all .2s; }

.checkbox input:checked + label:before {
  background: #fff; }

.checkbox:checked + label:after {
  opacity: 1; }

/*checkboxes( input in label) */
.checkbox_inset input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }

.checkbox_inset__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer; }

.checkbox_inset__text:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #CDD1DA;
  border: 2px solid #D8D8D8;
  transition: .2s;
  border-radius: 3px; }

.checkbox_inset__text:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 8px;
  background: url("../../images/check.svg") no-repeat 50% 50%;
  background-size: contain;
  transition: .2s;
  opacity: 0; }

.checkbox_inset input:checked + .checkbox_inset__text:before {
  background: #fff; }

.checkbox_inset input:checked + .checkbox_inset__text:after {
  opacity: 1; }

.radiobutton {
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin: 0; }

.radiobutton + label {
  cursor: pointer;
  display: inline-block; }

.radiobutton:not(checked) {
  position: absolute;
  opacity: 0; }

.radiobutton:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
  font-weight: 400; }

.radiobutton:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  background: #E7E7E7;
  border-radius: 50%; }

.radiobutton:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #F64C4C;
  opacity: 0;
  transition: all .2s;
  border-radius: 50%; }

.radiobutton:checked + label:after {
  opacity: 1; }

.select2-container--default {
  outline: none;
  max-width: 100%;
  width: 300px !important;
  background-color: transparent; }
  .select2-container--default .select2-selection--single {
    border: none;
    outline: none;
    background-color: transparent; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000000;
    font-size: 24px;
    font-weight: 700; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 10px;
    width: 15px;
    margin-left: -7px;
    margin-top: -5px;
    background: url("../../images/select_arrow.svg") no-repeat 50% 50%;
    background-size: contain; }

ul.pagination {
  justify-content: center;
  background: #F8F7F7;
  padding: 50px 0;
  position: relative;
  margin: 0 auto !important; }
  ul.pagination:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 9999px;
    height: 100%;
    background: #F8F7F7;
    transform: translateX(-50%); }
  ul.pagination > li {
    position: relative;
    padding: 0 5px;
    /*&:first-child{
		  display: none;
	  }
	  &:last-child{
		  display: none;
	  }*/ }
    ul.pagination > li a,
    ul.pagination > li span {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: transparent;
      color: #43425D;
      border: none;
      display: inline-flex;
      align-items: center;
      justify-content: center; }
    ul.pagination > li.active, ul.pagination > li:hover {
      color: #fff; }
      ul.pagination > li.active a,
      ul.pagination > li.active span,
      ul.pagination > li.active .page-link, ul.pagination > li:hover a,
      ul.pagination > li:hover span,
      ul.pagination > li:hover .page-link {
        background-color: #239B3A;
        color: #fff; }
  ul.pagination .pagination-arrow a,
  ul.pagination .pagination-arrow span {
    background-color: #E6E6E6; }
  ul.pagination .pagination-arrow.prev {
    margin-right: 20px; }
    ul.pagination .pagination-arrow.prev a,
    ul.pagination .pagination-arrow.prev span {
      background-image: url("../../images/icon-arrow-left-white.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%; }
  ul.pagination .pagination-arrow.next {
    margin-left: 20px; }
    ul.pagination .pagination-arrow.next a,
    ul.pagination .pagination-arrow.next span {
      background-image: url("../../images/icon-arrow-right-white.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%; }

.file_inp {
  position: relative;
  overflow: hidden;
  color: #9A9A9A;
  text-align: center;
  display: inline-block; }

.file_inp input[type="file"] {
  display: none; }

.file_inp label {
  display: inline-flex;
  align-items: center;
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer; }
  .file_inp label:after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 30px;
    background: url("../../images/file_input.svg") no-repeat 50% 50%; }

.mb-90 {
  margin-bottom: 90px; }

.mb-60 {
  margin-bottom: 60px; }

.rounded {
  overflow: hidden;
  border-radius: 50% !important; }

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
  z-index: 900;
  background: #000;
  color: #fff; }
  @media (max-width: 1024px) {
    .header {
      position: fixed;
      top: 0;
      left: 0; } }
  .header a {
    color: #fff; }
    .header a:hover {
      color: #777777; }
  .header .header-content {
    display: flex;
    align-items: center; }
    @media (max-width: 1024px) {
      .header .header-content {
        align-items: center; } }
  .header .logo {
    text-align: center;
    justify-content: center;
    flex: none;
    width: 135px; }
    @media (max-width: 1024px) {
      .header .logo {
        width: 66px;
        padding: 5px 10px; } }
    .header .logo img {
      width: 85px; }

.header .main-menu {
  flex: 1 1 auto; }
  .header .main-menu a {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
    /*
            &:before {
                content: '';
                position: absolute;
                bottom:-5px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #D64D4D;
                -webkit-transform: scale3d(0, 5, 1);
                transform: scale3d(0, 5, 1);
                -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
                transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
            }
            */ }
    .header .main-menu a:hover, .header .main-menu a.active {
      color: #777777;
      /*
                &:before {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
                */ }
  .header .main-menu li.active > a {
    color: #777777; }
    .header .main-menu li.active > a:before {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }
    @media (max-width: 576px) {
      .header .main-menu li.active > a {
        color: #fff;
        background: #777777; } }
  .header .main-menu > ul > li > a {
    font-size: 1rem; }
  .header .main-menu ul {
    padding: 0;
    margin: 0;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .header .main-menu ul {
        display: block; } }
    .header .main-menu ul li {
      list-style: none;
      display: inline-block;
      padding: 0;
      position: relative; }
      .header .main-menu ul li:hover > ul {
        display: block; }
      .header .main-menu ul li a {
        transition: all 0.2s linear; }
    .header .main-menu ul ul {
      display: none;
      min-width: 186px;
      max-width: 250px;
      background: #fff;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%); }
      .header .main-menu ul ul:before {
        position: absolute;
        width: 16px;
        height: 16px;
        transform: rotate(-45deg);
        background: #fff;
        top: -8px;
        left: 50%;
        margin-left: -8px; }
      .header .main-menu ul ul a {
        color: #111;
        text-transform: none;
        padding: 15px 0;
        margin: 0 30px;
        border-bottom: 1px solid #E5E5E5;
        display: block; }
      .header .main-menu ul ul li {
        width: 100%; }
        .header .main-menu ul ul li:last-child a {
          border-bottom: none; }
  @media (max-width: 1024px) {
    .header .main-menu {
      margin-top: 60px;
      position: fixed;
      right: 100%;
      top: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      overflow-y: auto;
      z-index: 999;
      background: #111;
      border-top: 1px solid #3E3E3E;
      transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      .header .main-menu.active {
        right: 0; }
      .header .main-menu ul li {
        display: block;
        padding: 0; }
      .header .main-menu ul a {
        display: block;
        padding: 15px 30px;
        color: #fff;
        line-height: 100% !important; }
        .header .main-menu ul a:hover {
          background: #239B3A;
          color: #fff !important; }
      .header .main-menu li li {
        padding-left: 20px; }
      .header .main-menu > li.divider {
        position: relative;
        width: 100%;
        height: 1px;
        background: #697780; }
      .header .main-menu li > a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 12px 21x; }
      .header .main-menu li ul {
        border-top: none;
        position: relative;
        top: 0;
        padding-left: 10px;
        display: none;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        border-top: none; }
      .header .main-menu li:hover > ul {
        display: none; }
      .header .main-menu li li ul {
        left: 0;
        top: 0;
        border-top: none;
        border-left: 2px solid #FF4033; }
      .header .main-menu > li:hover > a,
      .header .main-menu > li.selected > a {
        color: #fff;
        background: #FF4033; }
      .header .main-menu ul ul {
        transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
        width: 100%;
        max-width: 100%;
        height: 0;
        overflow: hidden;
        display: block; }
      .header .main-menu ul li:hover > ul {
        height: auto; }
      .header .main-menu ul ul a {
        padding: 15px 30px;
        margin: 0; } }

.header .toggle-button {
  margin-left: auto;
  position: relative;
  z-index: 1000;
  display: none; }
  @media (max-width: 1024px) {
    .header .toggle-button {
      display: block; } }

.header .hamburger {
  width: 25px;
  display: block;
  cursor: pointer; }

.header .hamburger span {
  display: block;
  width: 100%;
  border-bottom: 2px solid #fff;
  position: relative;
  -webkit-transition: all 0.4s step-end;
  transition: all 0.4s step-end; }

.header .hamburger span:before,
.header .hamburger span:after {
  width: 100%;
  content: '';
  display: block;
  margin-bottom: 4px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear; }

.header .hamburger span:before {
  border-top: 2px solid #fff; }

.header .hamburger span:after {
  border-bottom: 2px solid #fff; }

.header .hamburger.active span {
  border-bottom: none; }

.header .hamburger.active span:before,
.header .hamburger.active span:after {
  margin-bottom: 0px;
  position: absolute; }

.header .hamburger.active span:before,
.header .hamburger.active span:after {
  margin-bottom: 0px;
  position: absolute; }

.header .hamburger.active span:before,
.header .hamburger.active span:after {
  margin-bottom: 0px;
  position: absolute; }

.header .hamburger.active span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.header .hamburger.active span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header .hamburger.white span {
  border-bottom-color: #fff; }

.header .hamburger.white span:before {
  border-top-color: #fff; }

.header .hamburger.white span:after {
  border-bottom-color: #fff; }

.header {
  height: 60px; }

.footer {
  height: 200px; }

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .header,
  .content,
  .sidebar,
  .right-sidebar,
  .footer {
    max-width: 1200px;
    margin: 0 auto; } }

/*--------------------------------------------------------------
//If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (display: grid) {
  @media screen and (min-width: 800px) {
    .site-container {
      display: grid;
      min-height: 100%;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 60px auto auto minmax(200px, auto);
      grid-template-areas: "h h h h h h h h h h h h" "l l l c c c c c c c c c" "r r r r r r r r r r r r" "f f f f f f f f f f f f"; }
    .header {
      grid-area: h; }
    .content {
      grid-area: c; }
    .sidebar {
      grid-area: l; }
    .right-sidebar {
      grid-area: r; }
    .footer {
      grid-area: f; } }
  @media screen and (min-width: 1200px) {
    .site-container {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 60px auto minmax(200px, auto);
      grid-template-areas: "h h h h h h h h h h h h" "l l c c c c c c c c r r" "f f f f f f f f f f f f"; } } }

/*--------------------------------------------------------------
// CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
.social {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .social > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 1.07143rem; }
    .social > a:last-child {
      margin-right: 0; }
    .social > a.vk {
      background-image: url("../../images/social/vk.svg"); }
    .social > a.in {
      background-image: url("../../images/social/in.svg"); }
    .social > a.yo {
      background-image: url("../../images/social/yo.svg"); }
    .social > a.tw {
      background-image: url("../../images/social/tw.svg"); }
    .social > a.fb {
      background-image: url("../../images/social/fb.svg"); }

footer.footer {
  background: #111111; }
  footer.footer .social > a {
    margin-bottom: 15px; }
  footer.footer .copyright {
    text-align: center;
    font-size: 12px;
    font-size: 0.85714rem; }
    @media (max-width: 768px) {
      footer.footer .copyright {
        margin: 30px 0; } }

.breadcrumb {
  padding: 0;
  margin-bottom: 1.71429rem;
  background-color: transparent; }
  .breadcrumb a {
    color: #808080;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none; }
    .breadcrumb a:after {
      content: '/';
      display: inline-block;
      margin-left: 10px; }

/*# sourceMappingURL=maps/styles.css.map */
