.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    z-index: 900;
    background: #000;
    color: #fff;

    @media (max-width: 1024px) {
        position: fixed;
        top: 0;
        left: 0;

    }

    & a{
        color: #fff;
        &:hover{
            color: #777777;
        }
    }
    

    .header-content{
        display:  flex;
        align-items: center;

        @media (max-width: 1024px) {
            align-items: center;
        }
    }


    .logo{
        @extend %flex-vcenter;
        text-align: center;
        justify-content: center;
        flex: none;
        width: 135px;

        @media (max-width: 1024px) {
            width: 66px;
            padding: 5px 10px;
        }

        img{
            width: 85px;
        }
        
    }

}