.header{
    
    .main-menu{
        flex: 1 1 auto;

        @media (max-width: $md) {

        }

        a{
            font-size: 1rem;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            display: inline-block;
            
            /*
            &:before {
                content: '';
                position: absolute;
                bottom:-5px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #D64D4D;
                -webkit-transform: scale3d(0, 5, 1);
                transform: scale3d(0, 5, 1);
                -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
                transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
            }
            */
            &:hover, &.active{
                color: #777777;

                /*
                &:before {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                }
                */
            }
        }

        li.active > a{
            color: #777777;

            &:before {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            @media (max-width: $sm) {
                color: #fff;
                background: #777777;
            }
        }

        & > ul > li{
            &>a{
                font-size: 1rem;
            }
        }

        ul{
            @extend %flex-vcenter;
            padding: 0;
            margin: 0;
            justify-content: space-between;

            @media (max-width: 1024px) {
                display: block;
            }

            li{
                list-style: none;
                display: inline-block;
                padding: 0;
                position: relative;

                

                &:hover > ul{
                    display: block;
                }

                a{
                    transition: all 0.2s linear;
                }

                
            }

            

            ul{
                display: none;
                min-width: 186px;
                max-width: 250px;
                background: #fff;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);

                &:before{
                    @extend %pseudo;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    transform: rotate(-45deg);
                    background: #fff;
                    top: -8px;
                    left: 50%;
                    margin-left: -8px;
                }

                a{
                    color: #111;
                    text-transform: none;
                    padding: 15px 0;
                    margin: 0 30px;
                    border-bottom: 1px solid #E5E5E5;
                    display: block;
                }
                li{
                    width: 100%;
                    &:last-child a{
                        border-bottom: none;
                    }
                }

            }


        }

        @media (max-width: 1024px) {
            
            margin-top: 60px;
            position: fixed;
            right: 100%;
            top: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            overflow-y: auto;
            z-index: 999;
            background: #111;
            border-top: 1px solid #3E3E3E;
            transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);

            
            &.active {
                right: 0;
            }
            
            ul li{
                display: block;
                padding: 0;
            }

            ul a{
                display: block;
                padding: 15px 30px;
                color: #fff;
                line-height: 100% !important;

                &:hover{
                    background: $mainColor;
                    color: #fff !important;
                }
                
            }

            & li li {
                padding-left: 20px;
            }
            
            &>li.divider {
                position: relative;
                width: 100%;
                height: 1px;
                background: #697780;
            }
            & li>a {
                font-size: 14px;
                text-transform: uppercase;
                padding: 12px 21x;
            }
            & li ul {
                border-top: none;
                position: relative;
                top: 0;
                padding-left: 10px;
                display: none;
                width: 100%;
                border-radius: 0;
                box-shadow: none;
                border-top: none;
            }
            & li:hover>ul {
                display: none;
            }
            & li li ul {
                left: 0;
                top: 0;
                border-top: none;
                border-left: 2px solid #FF4033;
            }
            &>li:hover>a,
            &>li.selected>a {
                color: #fff;
                background: #FF4033;
            }

            ul ul{
                transition: 0.25s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
                width: 100%;
                max-width: 100%;
                height: 0;
                overflow: hidden;
                display: block;
            }

            ul li:hover>ul{
                height: auto;
            }

            ul ul a {
                padding: 15px 30px;
                margin: 0;
            }


            
        }

        
    }

    .toggle-button {
        margin-left: auto;
        position: relative;
        z-index: 1000;
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    .hamburger {
        width: 25px;
        display: block;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 100%;
        border-bottom: 2px solid #fff;
        position: relative;
        -webkit-transition: all 0.4s step-end;
        transition: all 0.4s step-end;
    }

    .hamburger span:before,
    .hamburger span:after {
        width: 100%;
        content: '';
        display: block;
        margin-bottom: 4px;
        -webkit-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }

    .hamburger span:before {
        border-top: 2px solid #fff;
    }

    .hamburger span:after {
        border-bottom: 2px solid #fff;
    }

    .hamburger.active span {
        border-bottom: none;
    }

    .hamburger.active span:before,
    .hamburger.active span:after {
        margin-bottom: 0px;
        position: absolute;
    }

    .hamburger.active span:before,
    .hamburger.active span:after {
        margin-bottom: 0px;
        position: absolute;
    }

    .hamburger.active span:before,
    .hamburger.active span:after {
        margin-bottom: 0px;
        position: absolute;
    }

    .hamburger.active span:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger.active span:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .hamburger.white span {
        border-bottom-color: #fff;
    }

    .hamburger.white span:before {
        border-top-color: #fff;
    }

    .hamburger.white span:after {
        border-bottom-color: #fff;
    }

}
